<ion-header [translucent]="true">
    <ion-toolbar class="app-content-padding">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="search-outline" class="search-icon"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="app-content-padding">
        <ion-title size="large" class="app-title">Weather</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment mode="md" value="today">
            <ion-segment-button value="today">
                Today
            </ion-segment-button>
            <ion-segment-button value="tomorrow">
                Tomorrow
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="app-content-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ng-container *ngFor="let item of cityListArr">
            <app-weather-card-item [city]="item.name" (onCardClick)="onWeatherItemClick()"></app-weather-card-item>
        </ng-container>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="warning">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>