<ion-content [fullscreen]="true">
    <div class="for-content">
        <ion-toolbar class="app-content-padding">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button>
                    <ion-icon slot="icon-only" name="search-outline" class="search-icon"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <img src="./assets/demo.jpg" class="weather-card-image" />
        <div class="weather-info-view">
            <div class="weather-card-status">
                <ion-icon src="./assets/Icon-Sunset.svg"></ion-icon>
                <!-- <ion-icon src="./assets/Icon-Cloud.svg"></ion-icon> -->
                <!-- <ion-icon src="./assets/Icon-Fog.svg"></ion-icon> -->
                <!-- <ion-icon src="./assets/Icon-Night.svg"></ion-icon> -->
                <!-- <ion-icon src="./assets/Icon-Overcast.svg"></ion-icon> -->
                <!-- <ion-icon src="./assets/Icon-Overcast2.svg"></ion-icon> -->
                <!-- <ion-icon src="./assets/Icon-Rain.svg"></ion-icon> -->
                <!-- <ion-icon src="./assets/Icon-Sun.svg"></ion-icon> -->
                <!-- <ion-icon src="./assets/Icon-Sunrise.svg"></ion-icon> -->
                Sunset
            </div>
            <div class="weather-card-location">
                Madison, WI
            </div>
            <div class="weather-card-temperature">3 &deg;</div>
        </div>
    </div>
    <ion-list>
        <ion-item>
            
        </ion-item>
    </ion-list>
</ion-content>