app-detail {
    ion-content {
        // --background: transparent url('../../../assets/demo.jpg') 0 0/100% 100% no-repeat padding-box;
        --background: transparent linear-gradient(180deg, #00000000 0%, #00000080 100%) 0% 0% no-repeat padding-box;
        // --background: transparent 0 0/100% 100% no-repeat padding-box;
    }

    ion-header {
        --background: transparent;

        ion-toolbar {
            --background: transparent;
            --ion-color-base: transparent !important;
        }
    }

    /* Remove bottom border on md */
    .header-md::after {
        background-image: none;
    }

    /* Remove bottom border on ios */
    .header-ios ion-toolbar:last-child {
        --border-width: 0;
    }

    .header-collapse-condense {
        ion-toolbar {
            --background: transparent;
            --border-width: 0px !important;
            padding-top: var(--ion-safe-area-top, 0) !important;
        }
    }

    ion-back-button {
        color: #ffffff;
    }

    .d-block {
        display: block !important;
    }

    .search-icon {
        color: #ffffff;
    }

    .for-content {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .weather-info-view {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 122px;
        padding-top: var(--ion-safe-area-top, 0) !important;
    }

    .weather-card-image {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .weather-card-location {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: #ffffff;
        display: none;
    }

    .weather-card-status {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        color: #ffffff;
        margin-top: 0px;
        margin-bottom: 7px;
        display: none;
    }

    .weather-card-temperature {
        font-size: 77px;
        font-weight: 600;
        /* line-height: 77px; */
        color: #ffffff;

        position: absolute;
        right: 0;
        top: 6rem;
        padding-right: 24px;
        display: none;
    }

    .weather-list-view {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;

        background: #2A2E43 0% 0% no-repeat padding-box;
        box-shadow: 0px -12px 15px #455B6314;
        border-radius: 24px 24px 0px 0px;
        padding-top: 24px;
        padding-bottom: 34px;

        ion-list {
            background: #2A2E43 0% 0% no-repeat padding-box;
        }

        ion-item {
            --background: #2A2E43 0% 0% no-repeat padding-box;
            --padding-start: 24px;
            --padding-end: 24px;
            --min-height: 55px;
        }

        .weather-list-item-label {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.26px;
            color: #ffffff;
        }

        .weather-list-item-icon {
            font-size: 24px;
        }

        .weather-list-item-note {
            margin-left: 15px;
            opacity: 0.5;
        }


    }

    .weather-list-item-row {
        flex-wrap: unset;
        width: 100%;
    }

    .animate__delay-600ms {
        -webkit-animation-delay: 600ms;
        animation-delay: 600ms;
        -webkit-animation-delay: var(--animate-delay);
        animation-delay: var(--animate-delay);
    }
}