<!-- <ion-header class="main-toolbar">
    <ion-toolbar [class.show-background]="showToolbar">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>&nbsp;</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="search-outline" class="search-icon"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<ion-content fullscreen="true" (ionScroll)="onScroll($event)" [scrollEvents]="true"
    [ngStyle]="{background: 'url(' + locationObj?.image?.full + ') 0 0 /cover no-repeat padding-box'}">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
            <ion-title>&nbsp;</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="weather-info-view">
        <div class="weather-card-status animate__animated animate__slideInLeft animate__faster"
            [ngClass]="{'d-block': showData}">
            <!-- <ion-icon [src]="generateWeatherIcon(weatherDescription)"></ion-icon>
            {{weatherDescription}} -->
            <ion-icon [src]="generateWeatherIcon('Sunny')"></ion-icon>
            {{'Sunny'}}
        </div>
        <div class="weather-card-location animate__animated animate__slideInLeft animate__faster"
            [ngClass]="{'d-block': showData}">
            {{locationObj.description}}
        </div>
        <!-- <div class="weather-card-temperature">{{weatherInfo.temperature}} &deg;</div> -->
        <div class="weather-card-temperature animate__animated animate__slideInRight animate__faster"
            [ngClass]="{'d-block': showData}">{{'37'}} &deg;
        </div>
    </div>
</ion-content>
<ion-footer>
    <div class="weather-list-view animate__animated animate__slideInUp animate__faster"
        [ngClass]="{'d-block': showData}">
        <ion-list>
            <ion-item>
                <ion-row class="weather-list-item-row">
                    <ion-col size="6">
                        <ion-label class="weather-list-item-label">Tomorrow</ion-label>
                    </ion-col>
                    <ion-col size="6">
                        <ion-label>
                            <ion-icon class="weather-list-item-icon" src="./assets/Icon-Sunrise.svg"></ion-icon>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <div slot="end">
                    <ion-note class="weather-list-item-label">17</ion-note>
                    <ion-note class="weather-list-item-label weather-list-item-note">12</ion-note>
                </div>
            </ion-item>
            <ion-item>
                <ion-row class="weather-list-item-row">
                    <ion-col size="6">
                        <ion-label class="weather-list-item-label">Tuesday</ion-label>
                    </ion-col>
                    <ion-col size="6">
                        <ion-label>
                            <ion-icon class="weather-list-item-icon" src="./assets/Icon-Sunset.svg"></ion-icon>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <div slot="end">
                    <ion-note class="weather-list-item-label">17</ion-note>
                    <ion-note class="weather-list-item-label weather-list-item-note">12</ion-note>
                </div>
            </ion-item>
            <ion-item>
                <ion-row class="weather-list-item-row">
                    <ion-col size="6">
                        <ion-label class="weather-list-item-label">Wednesday</ion-label>
                    </ion-col>
                    <ion-col size="6">
                        <ion-label>
                            <ion-icon class="weather-list-item-icon" src="./assets/Icon-Rain.svg"></ion-icon>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <div slot="end">
                    <ion-note class="weather-list-item-label">17</ion-note>
                    <ion-note class="weather-list-item-label weather-list-item-note">12</ion-note>
                </div>
            </ion-item>
            <ion-item>
                <ion-row class="weather-list-item-row">
                    <ion-col size="6">
                        <ion-label class="weather-list-item-label">Thursday</ion-label>
                    </ion-col>
                    <ion-col size="6">
                        <ion-label>
                            <ion-icon class="weather-list-item-icon" src="./assets/Icon-Fog.svg"></ion-icon>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <div slot="end">
                    <ion-note class="weather-list-item-label">17</ion-note>
                    <ion-note class="weather-list-item-label weather-list-item-note">12</ion-note>
                </div>
            </ion-item>
            <ion-item>
                <ion-row class="weather-list-item-row">
                    <ion-col size="6">
                        <ion-label class="weather-list-item-label">Friday</ion-label>
                    </ion-col>
                    <ion-col size="6">
                        <ion-label>
                            <ion-icon class="weather-list-item-icon" src="./assets/Icon-Sunset.svg"></ion-icon>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <div slot="end">
                    <ion-note class="weather-list-item-label">17</ion-note>
                    <ion-note class="weather-list-item-label weather-list-item-note">12</ion-note>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-footer>